.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #5e41a7;
}
.WeatherForecast-temperature-max,
.WeatherForecast-temperature-min {
  color: #e59423;
}
